<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <title>Chấm Công Online</title>
    
</head>
<body>
    <header>
        <h1 id="title">Chấm Công Online</h1>
    </header>
    <nav>
        <a href="#A">Quản lí nhân viên</a>
        <a href="#B">Quản lí chấm công</a>
        <a href="#C">Thống kê chấm công</a>
        <a href="#D">Thống kê lương tháng</a>
    </nav>
    <div class="list">
        <h1> Thông tin cá nhân</h1>
        <ul>
            <li>Họ tên: </li>
            <li>Tuổi: </li>
            <li>Địa chỉ: </li>
            <li>Số điện thoại: </li>
        </ul>
    </div>
</body>
</html>
